<ion-content class="ion-padding">
  <ion-card *ngIf="accion === 'modificar' || accion === 'eliminar'">
    <ion-card-header>
      <ion-card-title>Médicos Registrados ({{ listaMedicos.length }})</ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-list *ngIf="listaMedicos.length > 0">
        <ion-item *ngFor="let medico of listaMedicos">
          <ion-label>
            <h2>Dr(a). {{ medico.nombres }} {{ medico.apellidos }}</h2>
            <p>Especialidad: {{ medico.especialidad }}</p>
            <p>Usuario: {{ medico.usuario }}</p>
          </ion-label>

          <ion-buttons slot="end">
            <ion-button *ngIf="accion === 'modificar'" color="secondary" (click)="onEdit(medico)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button *ngIf="accion === 'eliminar'" color="danger" (click)="onDelete(medico)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>

      <ion-text color="medium" *ngIf="listaMedicos.length === 0 && !isLoading">
        <p class="ion-text-center">No hay médicos registrados en el sistema.</p>
      </ion-text>

    </ion-card-content>
  </ion-card>

</ion-content>
